body {
  	background-color: #E6E6FA;
	}

#Heading
{
	text-align: center;
	font-weight:bold;
	font-size: 25px;
	font-family:Georgia;
	text-decoration: underline;
	margin-top: 55px;
}
.nav-wrapper
{
	margin-top: -14px;
	padding-bottom: 90px;
	
}
.fontinpara
{
	font-weight:bold;
	color:red;
	cursor:pointer;
}
.fontinparab
{
	font-weight:bold;
	color:black;
	cursor:pointer;
}
.logo
{
	
	padding-right: 40px;
	padding-top: 16px;
}
#hline
{
	
	font-weight:bold;
	font-size: 18px;
	font-family:Georgia;
	text-decoration: underline;
	margin-top: 22px;
	
}
#lname
{
	margin-left: 2px;
	font-size: 14px;
	font-family:Georgia;
	margin-top: -40px;	
}
#lurname
{
	margin-left: 13px;
	font-size: 14px;
	font-family:Georgia;
	margin-top: -40px;	
}
#lcname
{
	margin-left: 115px;
	font-size: 14px;
	font-family:Georgia;
	margin-top: -12px;	
}
#email_inline
{
	margin-left: 45px;
}
#tbig{
	text-align: center;
	font-weight:bold;
	font-size: 35px;
	font-family:Verdana;
	margin-top: 210px;
	background-color: green;
	width:700px !important;
	margin-left: 345px;
}
#tsmall
{
	text-align: center;
	font-weight:bold;
	font-size: 15px;
	font-family:Georgia;
	color: red;
	margin-top: 35px;
}
#emoji
{
	margin-left: 570px;
}
.error{
	font-size: 12px;
	position: relative;
	color: red !important;
	font-weight: 600;
}
.center-align
{
	margin-top: -11px;
}
